<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.name %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1><%= recipe.name %></h1>
            <ul class="ingredients">
                <% recipe.ingredients.forEach(ingredient => { %>
                    <li><%= ingredient %></li>  
                <% }); %>
            </ul>

            <a class="back-link" href="/">Back to Home</a>
    </div>
    
</body>
</html>